body{
	width: 1500px;
	overflow-x: hidden;
}

h1{
	font-family: Times New Roman;
	font-size: 300%;
	font-weight: 1200;
}

h2{
	font-family: Calibri;
	font-size: 150%;
	font-weight: 1500;
}

p{
	font-family: Calibri;
	font-size: 130%;
	font-weight: 500;
	text-align: justify;
}

#p1{
	width: 1110px;
}

#choropleth_map{
	top: 80px;
	bottom: 100px; 
	left: 200px;
	right: 200px;
}

#bump_chart{
	top: 100px;
	bottom: 100px; 
	left: 200px;
	right: 200px;
}

#line_chart{
	top: 100px;
	bottom: 100px; 
	left: 200px;
	right: 200px;
}

#packed_bubble_chart{
	top: 80px;
	bottom: 100px; 
	left: 200px;
	right: 200px;
}

#bar_chart{
	top: 25px;
	bottom: 100px; 
	left: 110px;
	right: 200px;
}

#radial_plot{
	top: 10px;
	bottom: 100px; 
	left: 100px;
	right: 200px;
}

#scatter_plot{
	top: 70px;
	bottom: 100px; 
	left: 200px;
	right: 200px;
}

